header, footer {
    text-align: center;
    color: yellow;
    background-color: red;
    border: 10px solid goldenrod;
    padding: 20px;
    margin: 0px;
}

#navigation {
    background-color: teal;
    margin: 120px 0px 0px 0px;
}

image {
    width: 100%;
}

.col-6 {
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
}

div p:nth-child(1) {
    color: aqua;
}

div p:nth-child(2) {
    color: aquamarine;
}

div p:nth-child(3) {
    color: cadetblue;
}